---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/ChristianWedding-352.jpg';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 18 2025')}
	heroImage={AboutHeroImage}
>
	<h4>
    Mary and Scott met on a blind date at an event known as "The Porch" at Watermark Church in Dallas.
    Many things had to happen in just the right way for this to have played out as it did.
    Basically here's how it went down:
	</h4>

	<p>
    Scott agreed to go study at Watermark after a suggestion from an acquaintance from his apartment
    complex suggested. Mary's friend Jessica happened to walk by and stop to chat while they were there.
    Jessica decided Scott might be a great match for Mary. According to Mary her words were something
    like "I found your husband." A blind date was scheduled and the story continues from there!
	</p>
  <div class="image-container">
    <img src="/Peach-Luigi-Engagement.png" />
  </div>
	<p>
    After a solid handful of years dating after that blind date, from meeting online during the early days
    of COVID-19 in a private Minecraft server, Mary helping assist Scott after hurting his back at CrossFit,
    to moving in together to their current home in Carrollton, Scott proposed on Saturday, October 29th, 2022
    at a Halloween party while dressed as Luigi and Peach. They had a year long engagement and were married
    Saturday December 2nd, 2023 at Arlington Hall at Turtle Creek.
	</p>
  <div class="image-container">
    <img src="/Gist-Scott-Mary.webp" />
  </div>
</Layout>
